{% import_yaml 'roundcube/defaults.yaml' as default_settings %}
{% set roundcube = salt['pillar.get']('roundcube', default=default_settings.get('roundcube'), merge=True) %}
{% set imapproxy = salt['pillar.get']('imapproxy', default=default_settings.get('imapproxy'), merge=True) %}

{% set url = 'https://github.com/roundcube/roundcubemail/releases/download/' + roundcube.version + '/roundcubemail-' + roundcube.version + '-complete.tar.gz' %}

{% do roundcube.update({
  'url': url,
  'source': '/tmp/roundcube-' + roundcube.version + '.tar.gz',
  'extract': roundcube.directory + '/extract',
  'install': roundcube.directory + '/install',
  'current': roundcube.directory + '/extract/roundcubemail-' + roundcube.version
}) %}

{% if roundcube.get('db') %}
{% set db = roundcube.db %}
{% do roundcube.config.update({
  'db_dsnw': db.type + '://' + db.username + ':' + db.password + '@' + db.host + '/' + db.database
}) %}
{% endif %}

{% if roundcube.get('plugins') %}
{% if not roundcube.get('composer') %}
{% do roundcube.update({ 'composer': {} }) %}
{% endif %}
{% do roundcube.composer.update({
  'require': roundcube.plugins
}) %}
{% endif %}
