roundcube:
  #version: 1.1.4
  config:
    default_host: 'tls://localhost'
    smtp_server: 'tls://localhost'
    plugins:
      - sieverules
      - carddav
  plugins:
    johndoh/sieverules: dev-release-2.2
    roundcube/carddav: 2.0.4
  skins:
    - name: melanie2_larry_mobile
      url: https://github.com/messagerie-melanie2/Roundcube-Skin-Melanie2-Larry-Mobile
      version: master
  pkgs:
    - php-pecl-krb5

imapproxy:
  config:
    server_hostname: imap.gmx.net
